.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 96px 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.frame {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 3382px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 85px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.rectangle2 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 85px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.image {
  background: url("./images/image.png") center center / cover no-repeat;
  width: 229px;
  height: 65px;
  display: block;
  position: absolute;
  top: 10px;
  left: 24px;
}
.rectangle3 {
  background: rgba(190, 190, 190, 1);
  width: 1px;
  height: 19px;
  display: block;
  position: absolute;
  top: 40px;
  left: 1135px;
}
.image2 {
  background: url("./images/image2.png") center center / cover no-repeat;
  width: 40px;
  height: 19px;
  display: block;
  position: absolute;
  top: 40px;
  left: 1136px;
}
.rectangle4 {
  background: rgba(190, 190, 190, 1);
  width: 1200px;
  height: 1px;
  display: block;
  position: absolute;
  top: -42px;
  left: 0px;
}
.rectangle5 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 126px;
  display: block;
  position: absolute;
  top: -41px;
  left: 0px;
}
.rectangle6 {
  background: rgba(190, 190, 190, 1);
  transform: translate(0px, -0.5px);
  width: 295px;
  height: 1px;
  display: block;
  position: absolute;
  top: 23px;
  left: 881px;
}
.rectangle7 {
  background: rgba(255, 255, 255, 1);
  width: 295px;
  height: 50px;
  display: block;
  position: absolute;
  top: -27px;
  left: 881px;
}
.rectangle8 {
  background: rgba(190, 190, 190, 1);
  transform: translate(0px, -0.5px);
  width: 295px;
  height: 1px;
  display: block;
  position: absolute;
  top: 73px;
  left: 881px;
}
.rectangle9 {
  background: rgba(255, 255, 255, 1);
  width: 295px;
  height: 50px;
  display: block;
  position: absolute;
  top: 23px;
  left: 881px;
}
.rectangle10 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: -2400px;
}
.image3 {
  background: url("./images/image3.jpeg") center center / cover no-repeat;
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: -2400px;
}
.rectangle11 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: -1200px;
}
.image4 {
  background: url("./images/image4.jpeg") center center / cover no-repeat;
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: -1200px;
}
.rectangle12 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 0px;
}
.image5 {
  background: url("./images/image5.jpeg") center center / cover no-repeat;
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 0px;
}
.rectangle13 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 1200px;
}
.image6 {
  background: url("./images/image6.jpeg") center center / cover no-repeat;
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 1200px;
}
.rectangle14 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 2400px;
}
.image7 {
  background: url("./images/image7.jpeg") center center / cover no-repeat;
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 2400px;
}
.rectangle15 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 3600px;
}
.image8 {
  background: url("./images/image3.jpeg") center center / cover no-repeat;
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 3600px;
}
.rectangle16 {
  background: rgba(255, 255, 255, 1);
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 4800px;
}
.image9 {
  background: url("./images/image4.jpeg") center center / cover no-repeat;
  width: 1200px;
  height: 542px;
  display: block;
  position: absolute;
  top: 85px;
  left: 4800px;
}
.rectangle17 {
  background: rgba(165, 165, 165, 1);
  width: 27px;
  height: 3px;
  display: block;
  position: absolute;
  top: 593px;
  left: 485px;
}
.rectangle18 {
  background: rgba(165, 165, 165, 1);
  width: 27px;
  height: 3px;
  display: block;
  position: absolute;
  top: 593px;
  left: 536px;
}
.rectangle19 {
  background: rgba(165, 165, 165, 1);
  width: 27px;
  height: 3px;
  display: block;
  position: absolute;
  top: 593px;
  left: 587px;
}
.rectangle20 {
  background: rgba(165, 165, 165, 1);
  width: 27px;
  height: 3px;
  display: block;
  position: absolute;
  top: 593px;
  left: 638px;
}
.rectangle21 {
  background: rgba(165, 165, 165, 1);
  width: 27px;
  height: 3px;
  display: block;
  position: absolute;
  top: 593px;
  left: 689px;
}
.rectangle22 {
  background: rgba(204, 204, 204, 1);
  transform: translate(-0.047000000000025466px, -0.3289999999999509px);
  width: 111px;
  height: 2px;
  display: block;
  position: absolute;
  top: 687px;
  left: 545px;
}
.rectangle23 {
  background: rgba(204, 204, 204, 1);
  transform: translate(-0.047000000000025466px, -0.3289999999999509px);
  width: 111px;
  height: 2px;
  display: block;
  position: absolute;
  top: 753px;
  left: 545px;
}
.rectangle24 {
  width: 110px;
  height: 64px;
  display: block;
  position: absolute;
  top: 689px;
  left: 545px;
}
.rectangle25 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 689px;
  left: 545px;
}
.rectangle26 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 689px;
  left: 653px;
}
.rectangle27 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 747px;
  left: 545px;
}
.rectangle28 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 747px;
  left: 653px;
}
.rectangle29 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 309px;
  display: block;
  position: absolute;
  top: 795px;
  left: 47px;
}
.image10 {
  background: url("./images/image8.jpeg") center center / cover no-repeat;
  width: 354px;
  height: 248px;
  display: block;
  position: absolute;
  top: 795px;
  left: 47px;
}
.image11 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1057px;
  left: 65px;
}
.rectangle30 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 309px;
  display: block;
  position: absolute;
  top: 795px;
  left: 412px;
}
.image12 {
  background: url("./images/image10.jpeg") center center / cover no-repeat;
  width: 354px;
  height: 248px;
  display: block;
  position: absolute;
  top: 795px;
  left: 412px;
}
.image13 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1057px;
  left: 430px;
}
.rectangle31 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 309px;
  display: block;
  position: absolute;
  top: 795px;
  left: 777px;
}
.image14 {
  background: url("./images/image11.jpeg") center center / cover no-repeat;
  width: 354px;
  height: 247px;
  display: block;
  position: absolute;
  top: 795px;
  left: 777px;
}
.image15 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1056px;
  left: 795px;
}
.rectangle32 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 317px;
  display: block;
  position: absolute;
  top: 1124px;
  left: 47px;
}
.image16 {
  background: url("./images/image12.jpeg") center center / cover no-repeat;
  width: 354px;
  height: 256px;
  display: block;
  position: absolute;
  top: 1124px;
  left: 47px;
}
.image17 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1394px;
  left: 65px;
}
.rectangle33 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 317px;
  display: block;
  position: absolute;
  top: 1124px;
  left: 412px;
}
.image18 {
  background: url("./images/image13.jpeg") center center / cover no-repeat;
  width: 354px;
  height: 248px;
  display: block;
  position: absolute;
  top: 1124px;
  left: 412px;
}
.image19 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1386px;
  left: 430px;
}
.rectangle34 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 317px;
  display: block;
  position: absolute;
  top: 1124px;
  left: 777px;
}
.image20 {
  background: url("./images/image14.png") center center / cover no-repeat;
  width: 354px;
  height: 247px;
  display: block;
  position: absolute;
  top: 1124px;
  left: 777px;
}
.image21 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1385px;
  left: 795px;
}
.rectangle35 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 309px;
  display: block;
  position: absolute;
  top: 1462px;
  left: 47px;
}
.image22 {
  background: url("./images/image15.jpeg") center center / cover no-repeat;
  width: 354px;
  height: 247px;
  display: block;
  position: absolute;
  top: 1462px;
  left: 47px;
}
.image23 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1723px;
  left: 65px;
}
.rectangle36 {
  box-shadow: 3px 3px 8px 0px rgba(125, 125, 125, 1);
  width: 354px;
  height: 309px;
  display: block;
  position: absolute;
  top: 1462px;
  left: 412px;
}
.image24 {
  background: url("./images/image16.jpeg") center center / cover no-repeat;
  width: 354px;
  height: 248px;
  display: block;
  position: absolute;
  top: 1462px;
  left: 412px;
}
.image25 {
  background: url("./images/image9.png") center center / cover no-repeat;
  width: 22px;
  height: 25px;
  display: block;
  position: absolute;
  top: 1723px;
  left: 430px;
}
.image26 {
  background: url("./images/image17.png") center center / cover no-repeat;
  width: 1200px;
  height: 527px;
  display: block;
  position: absolute;
  top: 1851px;
  left: 0px;
}
.rectangle37 {
  background: rgba(204, 204, 204, 1);
  transform: translate(-0.5px, -0.2819999999999254px);
  width: 117px;
  height: 2px;
  display: block;
  position: absolute;
  top: 1911px;
  left: 542px;
}
.rectangle38 {
  background: rgba(204, 204, 204, 1);
  transform: translate(-0.5px, -0.2819999999999254px);
  width: 117px;
  height: 2px;
  display: block;
  position: absolute;
  top: 1975px;
  left: 542px;
}
.rectangle39 {
  width: 117px;
  height: 62px;
  display: block;
  position: absolute;
  top: 1913px;
  left: 542px;
}
.rectangle40 {
  background: rgba(255, 255, 255, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 1913px;
  left: 542px;
}
.rectangle41 {
  background: rgba(255, 255, 255, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 1913px;
  left: 657px;
}
.rectangle42 {
  background: rgba(255, 255, 255, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 1969px;
  left: 542px;
}
.rectangle43 {
  background: rgba(255, 255, 255, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 1969px;
  left: 657px;
}
.rectangle44 {
  background: rgba(255, 255, 255, 1);
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: 2186px;
  left: 158px;
}
.image27 {
  background: url("./images/image18.png") center center / cover no-repeat;
  width: 28px;
  height: 33px;
  display: block;
  position: absolute;
  top: 2203px;
  left: 204px;
}
.rectangle45 {
  background: rgba(255, 255, 255, 1);
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: 2186px;
  left: 413px;
}
.image28 {
  background: url("./images/image19.png") center center / cover no-repeat;
  width: 32px;
  height: 33px;
  display: block;
  position: absolute;
  top: 2203px;
  left: 457px;
}
.rectangle46 {
  background: rgba(255, 255, 255, 1);
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: 2186px;
  left: 667px;
}
.image29 {
  background: url("./images/image20.png") center center / cover no-repeat;
  width: 30px;
  height: 33px;
  display: block;
  position: absolute;
  top: 2203px;
  left: 712px;
}
.rectangle47 {
  background: rgba(255, 255, 255, 1);
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: 2186px;
  left: 922px;
}
.image30 {
  background: url("./images/image21.png") center center / cover no-repeat;
  width: 30px;
  height: 33px;
  display: block;
  position: absolute;
  top: 2203px;
  left: 967px;
}
.rectangle48 {
  background: rgba(204, 204, 204, 1);
  transform: translate(-0.29700000000002547px, -0.48500000000012733px);
  width: 115px;
  height: 2px;
  display: block;
  position: absolute;
  top: 2438px;
  left: 543px;
}
.rectangle49 {
  background: rgba(204, 204, 204, 1);
  transform: translate(-0.29700000000002547px, -0.48500000000012733px);
  width: 115px;
  height: 2px;
  display: block;
  position: absolute;
  top: 2504px;
  left: 543px;
}
.rectangle50 {
  width: 115px;
  height: 64px;
  display: block;
  position: absolute;
  top: 2440px;
  left: 543px;
}
.rectangle51 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 2440px;
  left: 543px;
}
.rectangle52 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 2440px;
  left: 655px;
}
.rectangle53 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 2498px;
  left: 543px;
}
.rectangle54 {
  background: rgba(204, 204, 204, 1);
  width: 2px;
  height: 6px;
  display: block;
  position: absolute;
  top: 2498px;
  left: 655px;
}
.rectangle55 {
  background: rgba(241, 241, 241, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
  width: 346px;
  height: 448px;
  display: block;
  position: absolute;
  top: 2546px;
  left: 53px;
}
.image31 {
  background: rgba(216, 216, 216, 1);
  width: 344px;
  height: 258px;
  display: block;
  position: absolute;
  top: 2547px;
  left: 54px;
}
.image32 {
  background: url("./images/image22.png") center center / cover no-repeat;
  width: 344px;
  height: 40px;
  display: block;
  position: absolute;
  top: 2765px;
  left: 54px;
}
.rectangle56 {
  background: rgba(241, 241, 241, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
  width: 346px;
  height: 448px;
  display: block;
  position: absolute;
  top: 2546px;
  left: 427px;
}
.image33 {
  background: url("./images/image23.jpeg") center center / cover no-repeat;
  width: 344px;
  height: 258px;
  display: block;
  position: absolute;
  top: 2547px;
  left: 428px;
}
.image34 {
  background: url("./images/image22.png") center center / cover no-repeat;
  width: 344px;
  height: 40px;
  display: block;
  position: absolute;
  top: 2765px;
  left: 428px;
}
.rectangle57 {
  background: rgba(241, 241, 241, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
  width: 346px;
  height: 448px;
  display: block;
  position: absolute;
  top: 2546px;
  left: 802px;
}
.image35 {
  background: url("./images/image24.jpeg") center center / cover no-repeat;
  width: 344px;
  height: 258px;
  display: block;
  position: absolute;
  top: 2547px;
  left: 803px;
}
.image36 {
  background: url("./images/image22.png") center center / cover no-repeat;
  width: 344px;
  height: 40px;
  display: block;
  position: absolute;
  top: 2765px;
  left: 803px;
}
.rectangle58 {
  background: rgba(31, 63, 141, 1);
  width: 1200px;
  height: 293px;
  display: block;
  position: absolute;
  top: 3089px;
  left: 0px;
}
.image37 {
  background: url("./images/image25.png") center center / cover no-repeat;
  width: 143px;
  height: 48px;
  display: block;
  position: absolute;
  top: 3125px;
  left: 24px;
}
.image38 {
  background: url("./images/image26.png") center center / cover no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  top: 3282px;
  left: 24px;
}
.image39 {
  background: url("./images/image27.png") center center / cover no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  top: 3282px;
  left: 70px;
}
.image40 {
  background: url("./images/image28.png") center center / cover no-repeat;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  top: 3282px;
  left: 117px;
}
.image41 {
  background: url("./images/image29.png") center center / cover no-repeat;
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 3195px;
  left: 846px;
}
.image42 {
  background: url("./images/image30.png") center center / cover no-repeat;
  width: 13px;
  height: 15px;
  display: block;
  position: absolute;
  top: 3235px;
  left: 846px;
}
.image43 {
  background: url("./images/image31.png") center center / cover no-repeat;
  width: 11px;
  height: 15px;
  display: block;
  position: absolute;
  top: 3277px;
  left: 846px;
}
.image44 {
  background: url("./images/image32.png") center center / cover no-repeat;
  width: 15px;
  height: 13px;
  display: block;
  position: absolute;
  top: 3319px;
  left: 846px;
}
.text__ljdlF {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(19, 38, 138, 1);
  position: absolute;
  top: 41px;
  left: 381px;
  width: 30px;
}
.text___7OrWe {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 435px;
  width: 60px;
}
.text__l6T1 {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 519px;
  width: 102px;
}
.text__jK6So {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 645px;
  width: 44px;
}
.text__n9Yu {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 713px;
  width: 60px;
}
.text___4DfB9 {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 797px;
  width: 60px;
}
.text___9H7L2 {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 881px;
  width: 60px;
}
.text__fOqZ {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 965px;
  width: 60px;
}
.text__w63NF {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 41px;
  left: 1049px;
  width: 60px;
}
.text__maCl5 {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 13px;
  left: 1143px;
  width: 28px;
}
.text__rERb {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 13px;
  left: 1171px;
  width: 10px;
}
.text__ic1Nu {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 13px;
  left: 1180px;
  width: 19px;
}
.text___8AtK4 {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 700px;
  left: 568px;
  width: 64px;
}
.text__heh1N {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(153, 153, 153, 1);
  position: absolute;
  top: 725px;
  left: 545px;
  width: 110px;
}
.text__h1L9P {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1055px;
  left: 97px;
  width: 40px;
}
.text___4XuFz {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1055px;
  left: 462px;
  width: 80px;
}
.text___4W2I2 {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1055px;
  left: 827px;
  width: 40px;
}
.text__wbls4 {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1393px;
  left: 97px;
  width: 40px;
}
.text__vOlqn {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1384px;
  left: 462px;
  width: 80px;
}
.text__f4Fxo {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1384px;
  left: 827px;
  width: 80px;
}
.text__uNaM6 {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1721px;
  left: 97px;
  width: 80px;
}
.text__vXymR {
  display: block;
  font-size: 19px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1722px;
  left: 462px;
  width: 80px;
}
.text__b5Rsq {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1924px;
  left: 568px;
  width: 64px;
}
.text__xqeWi {
  display: block;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 1949px;
  left: 565px;
  width: 71px;
}
.text__bgrM {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2240px;
  left: 186px;
  width: 64px;
}
.text__ylxHw {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2240px;
  left: 441px;
  width: 64px;
}
.text___2Kz4 {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2240px;
  left: 695px;
  width: 64px;
}
.text___4Wntw {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2240px;
  left: 950px;
  width: 64px;
}
.text__l13MH {
  display: block;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2451px;
  left: 568px;
  width: 64px;
}
.text__pfoRv {
  display: block;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(153, 153, 153, 1);
  position: absolute;
  top: 2476px;
  left: 548px;
  width: 103px;
}
.text__msSo {
  display: block;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2764px;
  left: 64px;
  width: 64px;
}
.text___3WoVb {
  display: block;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2823px;
  left: 71px;
  width: 80px;
}
.text__mE7X {
  display: block;
  font-size: 11px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2958px;
  left: 71px;
  width: 65px;
}
.text__wfMn {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2959px;
  left: 316px;
  width: 64px;
}
.text__vjDkO {
  display: block;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2764px;
  left: 438px;
  width: 64px;
}
.text__rqE5Z {
  display: block;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2823px;
  left: 445px;
  width: 304px;
}
.text__rjMFj {
  display: block;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2877px;
  left: 445px;
  width: 308px;
}
.text___3Y0A {
  display: block;
  font-size: 11px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2958px;
  left: 445px;
  width: 65px;
}
.text__qLwo8 {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2959px;
  left: 691px;
  width: 64px;
}
.text__bgYXw {
  display: block;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 2764px;
  left: 813px;
  width: 64px;
}
.text__mMgBg {
  display: block;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2823px;
  left: 820px;
  width: 224px;
}
.text__skBkX {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2899px;
  left: 820px;
  width: 308px;
}
.text___7Qox {
  display: block;
  font-size: 11px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2958px;
  left: 820px;
  width: 65px;
}
.text___8YHZa {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(51, 51, 51, 1);
  position: absolute;
  top: 2959px;
  left: 1065px;
  width: 64px;
}
.text___7JmoV {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3184px;
  left: 24px;
  width: 196px;
}
.text__cnhE {
  display: block;
  font-size: 21px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3215px;
  left: 24px;
  width: 356px;
}
.text__rF3J3 {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 21.7px;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3315px;
  left: 24px;
  width: 310px;
}
.text__psaLq {
  display: block;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 21.7px;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3336px;
  left: 24px;
  width: 131px;
}
.text__xMkW5 {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 21.7px;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3336px;
  left: 155px;
  width: 276px;
}
.text__cii08 {
  display: block;
  font-size: 23px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3151px;
  left: 846px;
  width: 96px;
}
.text__xLjOr {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3194px;
  left: 866px;
  width: 28px;
}
.text__u8AoK {
  display: block;
  font-size: 11px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3215px;
  left: 866px;
  width: 82px;
}
.text__u3Rcf {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3235px;
  left: 866px;
  width: 28px;
}
.text__rjzwt {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3256px;
  left: 866px;
  width: 310px;
}
.text__sag5E {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3278px;
  left: 866px;
  width: 42px;
}
.text___1ZxgE {
  display: block;
  font-size: 11px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3298px;
  left: 866px;
  width: 76px;
}
.text__ar88C {
  display: block;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 3318px;
  left: 866px;
  width: 28px;
}
.text__ggLbc {
  display: block;
  font-size: 11px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(204, 204, 204, 1);
  position: absolute;
  top: 3338px;
  left: 866px;
  width: 146px;
}
