@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-x7q9J-2MeeNq_font-family: "Inter";
  --mixin-x7q9J-2MeeNq_font-size: 16px;
  --mixin-x7q9J-2MeeNq_font-weight: 400;
  --mixin-x7q9J-2MeeNq_font-style: normal;
  --mixin-x7q9J-2MeeNq_color: #535353;
  --mixin-x7q9J-2MeeNq_text-align: left;
  --mixin-x7q9J-2MeeNq_text-transform: none;
  --mixin-x7q9J-2MeeNq_line-height: 1.5;
  --mixin-x7q9J-2MeeNq_letter-spacing: normal;
  --mixin-x7q9J-2MeeNq_white-space: pre-wrap;
  --mixin-x7q9J-2MeeNq_user-select: text;
  --mixin-x7q9J-2MeeNq_text-decoration-line: none;
  --mixin-x7q9J-2MeeNq_text-overflow: clip;
  --mixin-voR2XDGWWxFi_color: #000000;
  --mixin-voR2XDGWWxFi_font-weight: 900;
  --mixin-voR2XDGWWxFi_font-size: 72px;
  --mixin-voR2XDGWWxFi_line-height: 1;
  --mixin-voR2XDGWWxFi_letter-spacing: -4px;
  --mixin-O7-zAxm-7zsT_font-family: "Inter";
  --mixin-O7-zAxm-7zsT_color: #000000;
  --mixin-O7-zAxm-7zsT_font-size: 48px;
  --mixin-O7-zAxm-7zsT_font-weight: 700;
  --mixin-O7-zAxm-7zsT_letter-spacing: -1px;
  --mixin-O7-zAxm-7zsT_line-height: 1.1;
  --mixin-Z0QphLpsm3yA_color: #0070f3;
  --mixin-qsWhoLMkPKrW_font-family: "Inter";
  --mixin-qsWhoLMkPKrW_color: #000000;
  --mixin-qsWhoLMkPKrW_font-size: 32px;
  --mixin-qsWhoLMkPKrW_font-weight: 600;
  --mixin-qsWhoLMkPKrW_letter-spacing: -0.8px;
  --mixin-qsWhoLMkPKrW_line-height: 1.2;
  --mixin-7DZWHFpko2yB_font-family: "Inter";
  --mixin-7DZWHFpko2yB_color: #000000;
  --mixin-7DZWHFpko2yB_font-size: 24px;
  --mixin-7DZWHFpko2yB_font-weight: 600;
  --mixin-7DZWHFpko2yB_letter-spacing: -0.5px;
  --mixin-7DZWHFpko2yB_line-height: 1.3;
  --mixin-iTKmU7NiQAQw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-iTKmU7NiQAQw_border-bottom-color: #dddddd;
  --mixin-iTKmU7NiQAQw_border-bottom-style: solid;
  --mixin-iTKmU7NiQAQw_border-bottom-width: 1px;
  --mixin-iTKmU7NiQAQw_border-left-color: #dddddd;
  --mixin-iTKmU7NiQAQw_border-left-style: solid;
  --mixin-iTKmU7NiQAQw_border-left-width: 1px;
  --mixin-iTKmU7NiQAQw_border-right-color: #dddddd;
  --mixin-iTKmU7NiQAQw_border-right-style: solid;
  --mixin-iTKmU7NiQAQw_border-right-width: 1px;
  --mixin-iTKmU7NiQAQw_border-top-color: #dddddd;
  --mixin-iTKmU7NiQAQw_border-top-style: solid;
  --mixin-iTKmU7NiQAQw_border-top-width: 1px;
  --mixin-iTKmU7NiQAQw_border-bottom-left-radius: 3px;
  --mixin-iTKmU7NiQAQw_border-bottom-right-radius: 3px;
  --mixin-iTKmU7NiQAQw_border-top-left-radius: 3px;
  --mixin-iTKmU7NiQAQw_border-top-right-radius: 3px;
  --mixin-iTKmU7NiQAQw_font-family: "Inconsolata";
  --mixin-iTKmU7NiQAQw_padding-bottom: 1px;
  --mixin-iTKmU7NiQAQw_padding-left: 4px;
  --mixin-iTKmU7NiQAQw_padding-right: 4px;
  --mixin-iTKmU7NiQAQw_padding-top: 1px;
  --mixin-Yt8C6FHaVg-d_border-left-color: #dddddd;
  --mixin-Yt8C6FHaVg-d_border-left-style: solid;
  --mixin-Yt8C6FHaVg-d_border-left-width: 3px;
  --mixin-Yt8C6FHaVg-d_color: #888888;
  --mixin-Yt8C6FHaVg-d_padding-left: 10px;
  --mixin-9mwqGsFXqJDF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9mwqGsFXqJDF_border-bottom-color: #dddddd;
  --mixin-9mwqGsFXqJDF_border-bottom-style: solid;
  --mixin-9mwqGsFXqJDF_border-bottom-width: 1px;
  --mixin-9mwqGsFXqJDF_border-left-color: #dddddd;
  --mixin-9mwqGsFXqJDF_border-left-style: solid;
  --mixin-9mwqGsFXqJDF_border-left-width: 1px;
  --mixin-9mwqGsFXqJDF_border-right-color: #dddddd;
  --mixin-9mwqGsFXqJDF_border-right-style: solid;
  --mixin-9mwqGsFXqJDF_border-right-width: 1px;
  --mixin-9mwqGsFXqJDF_border-top-color: #dddddd;
  --mixin-9mwqGsFXqJDF_border-top-style: solid;
  --mixin-9mwqGsFXqJDF_border-top-width: 1px;
  --mixin-9mwqGsFXqJDF_border-bottom-left-radius: 3px;
  --mixin-9mwqGsFXqJDF_border-bottom-right-radius: 3px;
  --mixin-9mwqGsFXqJDF_border-top-left-radius: 3px;
  --mixin-9mwqGsFXqJDF_border-top-right-radius: 3px;
  --mixin-9mwqGsFXqJDF_font-family: "Inconsolata";
  --mixin-9mwqGsFXqJDF_padding-bottom: 3px;
  --mixin-9mwqGsFXqJDF_padding-left: 6px;
  --mixin-9mwqGsFXqJDF_padding-right: 6px;
  --mixin-9mwqGsFXqJDF_padding-top: 3px;
  --mixin-lNjY3pJ15VY8_display: flex;
  --mixin-lNjY3pJ15VY8_flex-direction: column;
  --mixin-lNjY3pJ15VY8_align-items: stretch;
  --mixin-lNjY3pJ15VY8_justify-content: flex-start;
  --mixin-lNjY3pJ15VY8_list-style-position: outside;
  --mixin-lNjY3pJ15VY8_padding-left: 40px;
  --mixin-lNjY3pJ15VY8_position: relative;
  --mixin-lNjY3pJ15VY8_list-style-type: disc;
  --mixin-1U-7gOyxakcT_display: flex;
  --mixin-1U-7gOyxakcT_flex-direction: column;
  --mixin-1U-7gOyxakcT_align-items: stretch;
  --mixin-1U-7gOyxakcT_justify-content: flex-start;
  --mixin-1U-7gOyxakcT_list-style-position: outside;
  --mixin-1U-7gOyxakcT_padding-left: 40px;
  --mixin-1U-7gOyxakcT_position: relative;
  --mixin-1U-7gOyxakcT_list-style-type: decimal;
  --mixin-MnkFEjsT6RtJ__font-family: "Inter";
  --mixin-MnkFEjsT6RtJ__color: #000000;
  --mixin-MnkFEjsT6RtJ__font-size: 20px;
  --mixin-MnkFEjsT6RtJ__font-weight: 600;
  --mixin-MnkFEjsT6RtJ__letter-spacing: -0.3px;
  --mixin-MnkFEjsT6RtJ__line-height: 1.5;
  --mixin-oqVJptpy04WT9_font-family: "Inter";
  --mixin-oqVJptpy04WT9_color: #000000;
  --mixin-oqVJptpy04WT9_font-size: 16px;
  --mixin-oqVJptpy04WT9_font-weight: 600;
  --mixin-oqVJptpy04WT9_line-height: 1.5;
  --mixin-s0lMnk4sdxoLH_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_rich_text *),
:where(.__wab_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_rich_text img),
:where(.__wab_text img) {
}

:where(.li) {
  display: list-item;
}
:where(.__wab_rich_text li),
:where(.__wab_text li) {
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text span),
:where(.__wab_text span) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text input),
:where(.__wab_text input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text textarea),
:where(.__wab_text textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_rich_text button),
:where(.__wab_text button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text code),
:where(.__wab_text code) {
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_rich_text pre),
:where(.__wab_text pre) {
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_rich_text p),
:where(.__wab_text p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h1),
:where(.__wab_text h1) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h2),
:where(.__wab_text h2) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h3),
:where(.__wab_text h3) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h4),
:where(.__wab_text h4) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h5),
:where(.__wab_text h5) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_rich_text h6),
:where(.__wab_text h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_rich_text address),
:where(.__wab_text address) {
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_rich_text a),
:where(.__wab_text a) {
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ol),
:where(.__wab_text ol) {
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_rich_text ul),
:where(.__wab_text ul) {
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_rich_text select),
:where(.__wab_text select) {
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-x7q9J-2MeeNq_font-family);
  font-size: var(--mixin-x7q9J-2MeeNq_font-size);
  font-weight: var(--mixin-x7q9J-2MeeNq_font-weight);
  font-style: var(--mixin-x7q9J-2MeeNq_font-style);
  color: var(--mixin-x7q9J-2MeeNq_color);
  text-align: var(--mixin-x7q9J-2MeeNq_text-align);
  text-transform: var(--mixin-x7q9J-2MeeNq_text-transform);
  line-height: var(--mixin-x7q9J-2MeeNq_line-height);
  letter-spacing: var(--mixin-x7q9J-2MeeNq_letter-spacing);
  white-space: var(--mixin-x7q9J-2MeeNq_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-voR2XDGWWxFi_color);
  font-weight: var(--mixin-voR2XDGWWxFi_font-weight);
  font-size: var(--mixin-voR2XDGWWxFi_font-size);
  line-height: var(--mixin-voR2XDGWWxFi_line-height);
  letter-spacing: var(--mixin-voR2XDGWWxFi_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-O7-zAxm-7zsT_font-family);
  color: var(--mixin-O7-zAxm-7zsT_color);
  font-size: var(--mixin-O7-zAxm-7zsT_font-size);
  font-weight: var(--mixin-O7-zAxm-7zsT_font-weight);
  letter-spacing: var(--mixin-O7-zAxm-7zsT_letter-spacing);
  line-height: var(--mixin-O7-zAxm-7zsT_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-Z0QphLpsm3yA_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-qsWhoLMkPKrW_font-family);
  color: var(--mixin-qsWhoLMkPKrW_color);
  font-size: var(--mixin-qsWhoLMkPKrW_font-size);
  font-weight: var(--mixin-qsWhoLMkPKrW_font-weight);
  letter-spacing: var(--mixin-qsWhoLMkPKrW_letter-spacing);
  line-height: var(--mixin-qsWhoLMkPKrW_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-7DZWHFpko2yB_font-family);
  color: var(--mixin-7DZWHFpko2yB_color);
  font-size: var(--mixin-7DZWHFpko2yB_font-size);
  font-weight: var(--mixin-7DZWHFpko2yB_font-weight);
  letter-spacing: var(--mixin-7DZWHFpko2yB_letter-spacing);
  line-height: var(--mixin-7DZWHFpko2yB_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-iTKmU7NiQAQw_background);
  font-family: var(--mixin-iTKmU7NiQAQw_font-family);
  border-radius: var(--mixin-iTKmU7NiQAQw_border-top-left-radius)
    var(--mixin-iTKmU7NiQAQw_border-top-right-radius)
    var(--mixin-iTKmU7NiQAQw_border-bottom-right-radius)
    var(--mixin-iTKmU7NiQAQw_border-bottom-left-radius);
  padding: var(--mixin-iTKmU7NiQAQw_padding-top)
    var(--mixin-iTKmU7NiQAQw_padding-right)
    var(--mixin-iTKmU7NiQAQw_padding-bottom)
    var(--mixin-iTKmU7NiQAQw_padding-left);
  border-top: var(--mixin-iTKmU7NiQAQw_border-top-width)
    var(--mixin-iTKmU7NiQAQw_border-top-style)
    var(--mixin-iTKmU7NiQAQw_border-top-color);
  border-right: var(--mixin-iTKmU7NiQAQw_border-right-width)
    var(--mixin-iTKmU7NiQAQw_border-right-style)
    var(--mixin-iTKmU7NiQAQw_border-right-color);
  border-bottom: var(--mixin-iTKmU7NiQAQw_border-bottom-width)
    var(--mixin-iTKmU7NiQAQw_border-bottom-style)
    var(--mixin-iTKmU7NiQAQw_border-bottom-color);
  border-left: var(--mixin-iTKmU7NiQAQw_border-left-width)
    var(--mixin-iTKmU7NiQAQw_border-left-style)
    var(--mixin-iTKmU7NiQAQw_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-Yt8C6FHaVg-d_color);
  padding-left: var(--mixin-Yt8C6FHaVg-d_padding-left);
  border-left: var(--mixin-Yt8C6FHaVg-d_border-left-width)
    var(--mixin-Yt8C6FHaVg-d_border-left-style)
    var(--mixin-Yt8C6FHaVg-d_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-9mwqGsFXqJDF_background);
  font-family: var(--mixin-9mwqGsFXqJDF_font-family);
  border-radius: var(--mixin-9mwqGsFXqJDF_border-top-left-radius)
    var(--mixin-9mwqGsFXqJDF_border-top-right-radius)
    var(--mixin-9mwqGsFXqJDF_border-bottom-right-radius)
    var(--mixin-9mwqGsFXqJDF_border-bottom-left-radius);
  padding: var(--mixin-9mwqGsFXqJDF_padding-top)
    var(--mixin-9mwqGsFXqJDF_padding-right)
    var(--mixin-9mwqGsFXqJDF_padding-bottom)
    var(--mixin-9mwqGsFXqJDF_padding-left);
  border-top: var(--mixin-9mwqGsFXqJDF_border-top-width)
    var(--mixin-9mwqGsFXqJDF_border-top-style)
    var(--mixin-9mwqGsFXqJDF_border-top-color);
  border-right: var(--mixin-9mwqGsFXqJDF_border-right-width)
    var(--mixin-9mwqGsFXqJDF_border-right-style)
    var(--mixin-9mwqGsFXqJDF_border-right-color);
  border-bottom: var(--mixin-9mwqGsFXqJDF_border-bottom-width)
    var(--mixin-9mwqGsFXqJDF_border-bottom-style)
    var(--mixin-9mwqGsFXqJDF_border-bottom-color);
  border-left: var(--mixin-9mwqGsFXqJDF_border-left-width)
    var(--mixin-9mwqGsFXqJDF_border-left-style)
    var(--mixin-9mwqGsFXqJDF_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-lNjY3pJ15VY8_display);
  flex-direction: var(--mixin-lNjY3pJ15VY8_flex-direction);
  align-items: var(--mixin-lNjY3pJ15VY8_align-items);
  justify-content: var(--mixin-lNjY3pJ15VY8_justify-content);
  list-style-position: var(--mixin-lNjY3pJ15VY8_list-style-position);
  padding-left: var(--mixin-lNjY3pJ15VY8_padding-left);
  position: var(--mixin-lNjY3pJ15VY8_position);
  list-style-type: var(--mixin-lNjY3pJ15VY8_list-style-type);
  flex-column-gap: var(--mixin-lNjY3pJ15VY8_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-1U-7gOyxakcT_display);
  flex-direction: var(--mixin-1U-7gOyxakcT_flex-direction);
  align-items: var(--mixin-1U-7gOyxakcT_align-items);
  justify-content: var(--mixin-1U-7gOyxakcT_justify-content);
  list-style-position: var(--mixin-1U-7gOyxakcT_list-style-position);
  padding-left: var(--mixin-1U-7gOyxakcT_padding-left);
  position: var(--mixin-1U-7gOyxakcT_position);
  list-style-type: var(--mixin-1U-7gOyxakcT_list-style-type);
  flex-column-gap: var(--mixin-1U-7gOyxakcT_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-MnkFEjsT6RtJ__font-family);
  color: var(--mixin-MnkFEjsT6RtJ__color);
  font-size: var(--mixin-MnkFEjsT6RtJ__font-size);
  font-weight: var(--mixin-MnkFEjsT6RtJ__font-weight);
  letter-spacing: var(--mixin-MnkFEjsT6RtJ__letter-spacing);
  line-height: var(--mixin-MnkFEjsT6RtJ__line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-oqVJptpy04WT9_font-family);
  color: var(--mixin-oqVJptpy04WT9_color);
  font-size: var(--mixin-oqVJptpy04WT9_font-size);
  font-weight: var(--mixin-oqVJptpy04WT9_font-weight);
  line-height: var(--mixin-oqVJptpy04WT9_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-s0lMnk4sdxoLH_color);
}
